.tab-pane:top > .tab-header-area > .tab-header-background {
  -fx-background-insets: 0, 0 0 0 0, 0;
}

#order
{
    -fx-background-color:
        linear-gradient(#f0ff35, #a9ff00),
        radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;
}

#order:hover { 
    -fx-background-color:
        linear-gradient(#a9ff00, #f0ff35),
        radial-gradient(center 50% -40%, radius 80%, #80c800 45%, #b8ee36 20%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 1, 0.0 , 0 , 3 );
    -fx-text-fill: #395306;
}

#confirm
{
    -fx-padding: 2 5 5 5;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}

#confirm:hover
{
    -fx-padding: 3 6 6 6;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 73% to 0% 80%, #a34313 0%, #903b12 80%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}

.tab-pane {
  -fx-tab-min-width:135px;
  -fx-tab-max-width:135px;
  -fx-tab-min-height:35px;
  -fx-tab-max-height:35px;
}

.tab {
  -fx-font-family: Arial;
  -fx-font-size: 18;
  -fx-background-color: #E6E6FA ;
}

.tab:selected {
    -fx-background-color: #87CEFA ;
}